*
{
    margin:0;
    padding:0;
}

body 
{
    width:100vw;
    height:100vh;
    background-image:url('images/background.png');
    background-position: center;
    background-size:cover;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:relative;
    overflow-x: hidden;
}

.start-menu 
{
    width:100vw;
    height:100vh;
    display:flex;
    /* display:none; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    z-index:1;
}

.settings-button-container
{
    margin-top:5px;
    width:100vw;
    height:40px;
    background-color:transparent;
    border:none;
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.settings-button 
{
    width:40px;
    height:40px;
    border:none;
    background-color:transparent;
    margin-right:10px;
    background-image:url('https://lh3.googleusercontent.com/proxy/Xl3osUH56uEtxhozmlZdyrjbde9-N54-6H9MgTwOjLg7zY4dz8yV5UCa59lsVA7iy0xf6aAQR7kPatJ2aVT6m0u6qRvXOavY');
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.4s;
}

.settings-button:hover 
{
    cursor: pointer;
    opacity:0.5;
    transition:0.4s;
}

.logo 
{
    width:70vw;
    height:100px;
    min-height: 100px;
    background-image:url('https://lh3.googleusercontent.com/proxy/y9Ue5a7id17jn_ws5NHs-ztUMwg4Yf0V03p6vGl8C8f066pNmICsENF9jbstUT3of8mLo2iRzO036Od_G01-jvM_V0wvH_GF');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:30px;
    position: relative;
}

.del-ads 
{
    width:60vw;
    height:70px;
    min-height: 70px;
    background-color:rgba(209, 2, 2, 0.842);
    color:white;
    border:none;
    border-radius:20px;
    position: relative;
    font-size:15px;
    font-family: 'Press Start 2P', cursive;
    margin-top:40px;
}

.menu-buttons-container 
{
    
    width:100vw;
    height:50px;
    background-color:transparent;
    border:none;
    position: absolute;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom:0px;
    margin-bottom:20px;
}

.stats-button 
{
    width:20vw;
    height:50px;
    position: relative;
    border:none;
    background-color:transparent;
    background-image:url('https://lh3.googleusercontent.com/proxy/8OMHEU3Fn4DyEoc9heBBHXcikSn10bZKwBJ2fuuBjP6__nHggHvFpTgxTd2P6B_6aA5_ebzX8GNBHoA73VLyK5wo31BzehbS');
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    transition:opacity 0.4s;
}

.stats-button:hover 
{
    opacity:0.5;
    transition:0.4s;
    cursor: pointer;
}

.start-button 
{
    width:60vw;
    height:50px;
    position: relative;
    border:none;
    background-color:transparent;
    background-image:url('https://cdn.imgbin.com/15/17/10/imgbin-push-button-pixel-art-button-GuBHf9xdAr8hD3x9ZSBykUiaP.jpg');
    background-size:79%;
    background-repeat: no-repeat;
    background-position: center;
    transition:opacity 0.4s;
}
.start-button:hover 
{
    opacity:0.5;
    transition:0.4s;
    cursor: pointer;
}
.profile-button 
{
    width:20vw;
    height:50px;
    position: relative;
    border:none;
    transition:opacity 0.4s;
    background-color:transparent;
    background-image:url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6ab41162733715.5a99940063fdc.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    transition:opacity 0.4s;
}
.profile-button:hover 
{
    opacity:0.5;
    transition:0.4s;
    cursor: pointer;
}



.scenery 
{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    position:absolute;
    z-index:0;
}

.score_container 
{
    position:absolute;
    color:white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:fit-content;
    top:15%;
    font-size:1rem;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;
}

.floor 
{
    width:100vw;
    min-width: 100vw;
    height:100px;
    position: relative;
    background-color:transparent;
    background-image:url('images/floor_block.svg');
    background-position: 0%;
    background-repeat:repeat-x;
    background-size:100px 100px;
    border:none;
    animation:floorMoving 500s linear infinite;
}

@keyframes floorMoving 
{
    0%{background-position:90000%;}
    100%{background-position:0%;}
    

}


.player 
{
    width:44px;
    min-width: 44px;
    min-height: 100px;
    height:100px;
    background-image:url('images/ezgif.com-gif-maker.gif');
    background-position: center;
    background-size:cover;
    z-index:1;
    background-repeat: no-repeat;
    margin-left:10px;
    position:absolute;
    bottom:100px;
    
}

.jump 
{
    animation: jump 0.4s ease-out;
    animation-iteration-count: 1;
}

.fall 
{
    animation: fall 0.5s ease-in;
    animation-iteration-count: 1;
}

@keyframes jump 
{
    0%{bottom:100px;}
    100%{bottom:160px;}
}
@keyframes fall 
{
    0%{bottom:160px;}
    100%{bottom:100px;}
}


.food
{
    width:34px;
    min-width: 34px;
    min-height: 34px;
    height:34px;
    background-position: center;
    background-size:contain;
    z-index:1;
    background-repeat: no-repeat;
    left:120vw;
    position:absolute;
    bottom:100px;
    
    
}

.fries 
{
    background-image:url('images/fries.svg');
}

.hamburger
{
    background-image:url('images/hamburger.svg');
}
.tomato
{
    background-image:url('images/tomato.png');
}
.banana 
{
    background-image:url('images/banana.png');
}

.foodSlide 
{
    animation: food 4s;
    animation-iteration-count: 1;
}
@keyframes food 
{
    0%{left:120vw;}
    100%{left:-120vw; display:none;}
}
