body 
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




#myCanvas 
{
    width:900px;
    height:600px;
    border:2px solid black;
    display:block;
    background-image:url('images/background.png');
    background-repeat: repeat-x;
    background-size:40%;
}