*
{
    margin:0;
    padding:0;
}

body 
{
    width:100vw;
    height:100vh;
    background-image:url('images/background.png');
    background-position: center;
    background-size:cover;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:relative;
    overflow-x: hidden;
}

.start-menu 
{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    z-index:1;
}

.logo 
{
    width:310px;
    height:150px;
    background-image: url("images/chefrun_logo.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:10px;
}

.start-button 
{
    width:200px;
    height:120px;
    border:none;
    background-color:transparent;
    background-image:url("images/play.png");
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;

}

.start-button:hover 
{
    opacity:0.6;
    cursor: pointer;
}

.skin-button 
{
    width:200px;
    height:100px;
    border:none;
    background-color:transparent;
    background-image:url("images/skin.png");
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;

}

.skin-button:hover 
{
    opacity:0.6;
    cursor: pointer;
}

.shop-button 
{
    width:200px;
    height:100px;
    border:none;
    background-color:transparent;
    background-image:url("images/shop.png");
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;

}

.shop-button:hover 
{
    opacity:0.6;
    cursor: pointer;
}

.scenery 
{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    position:absolute;
    z-index:0;
}

.score_container 
{
    position:absolute;
    color:white;
    display:none;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:fit-content;
    top:5%;
    font-size:1rem;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;

}

.floor 
{
    width:100vw;
    min-width: 100vw;
    height:100px;
    position: relative;
    background-color:transparent;
    background-image:url('images/floor_block.svg');
    background-position: 0%;
    background-repeat:repeat-x;
    background-size:100px 100px;
    border:none;
    animation:floorMoving 500s linear infinite;
}

@keyframes floorMoving 
{
    0%{background-position:90000%;}
    100%{background-position:0%;}
    

}


.player 
{
    width:44px;
    min-width: 44px;
    min-height: 100px;
    height:100px;
    background-image:url('images/ezgif.com-gif-maker.gif');
    background-position: center;
    background-size:cover;
    z-index:1;
    background-repeat: no-repeat;
    margin-left:10px;
    position:absolute;
    bottom:100px;
  
    
}

.jump 
{
    animation: jump 0.3s ease-out;
    animation-iteration-count: 1;
}

.fall 
{
    animation: fall 0.3s ease-in;
    animation-iteration-count: 1;
}

@keyframes jump 
{
    0%{bottom:100px;}
    100%{bottom:160px;}
}
@keyframes fall 
{
    0%{bottom:160px;}
    100%{bottom:100px;}
}


.food
{
    width:34px;
    min-width: 34px;
    min-height: 34px;
    height:34px;
    background-position: center;
    background-size:contain;
    z-index:1;
    background-repeat: no-repeat;
    left:120vw;
    position:absolute;
    bottom:100px;
   
    
}

.fries 
{
    background-image:url('images/fries.svg');
}

.hamburger
{
    background-image:url('images/hamburger.svg');
}
.tomato
{
    background-image:url('images/tomato.png');
}
.banana 
{
    background-image:url('images/banana.png');
}
.broccoli
{
    background-image:url('images/broccoli.svg');
}
.avocado
{
    background-image:url('images/avocado.svg');
}

.foodSlide 
{
    animation: food 4s;
    animation-iteration-count: 1;
}
@keyframes food 
{
    0%{left:120vw;}
    100%{left:-120vw; display:none;}
}


.dead-container 
{
    position:absolute;
    width:100%;
    height:100%;
    z-index:3;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-container 
{
    width:300px;
    height:200px;
    background-image:url("images/bg.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviveq 
{
    width:70%;
    height:80px;
    border:none;
    background-color: transparent;
    background-image:url("images/revive.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.timer 
{
    width:80px;
    height:80px;
    border:none;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url("images/5.png");
}


.timer4 
{
    background-image:url("images/4.png");
}
.timer3 
{
    background-image:url("images/3.png");
}
.timer2 
{
    background-image:url("images/2.png");
}
.timer1 
{
    background-image:url("images/1.png");
}

.ad-container
{
    width:100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0px;
}

.advert 
{
    width:170px;
    height:80px;
    margin-right:8px;
    border:none;
    background-color: transparent;
    background-image:url("images/adxxx.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.advert:hover 
{
    opacity:0.5;
    cursor: pointer;
}

.cancel 
{
    width:80px;
    height:80px;
    margin-left:8px;
    border:none;
    background-color: transparent;
    background-image:url("images/exit.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.cancel:hover 
{
    opacity:0.5;
    cursor: pointer;
}